body {
    background-color:	#1e2124; /*Changes the colour of the background*/
    margin-top: 3em; /*Adds a margin for the top of the page*/
    font-family: "Fira Code", sans-serif; /*Makes the font look real good*/
    margin-left: 20%;
    margin-right: 20%;
}

p, h1, h2, h3 {
    color: rgb(227, 227, 227);  /*The text colour is toned down slightly from pure white due to medical issues with the eyes*/
}

footer {
    margin-top: 20em;  /*A cool empty area for mobile users to be happy*/
}

div {
    margin-top: 2em; /*The space between divs relative to other elements*/
}

.avatar {
    width: 15em;
    border-radius: 1em;
    height: 15em;
    object-fit: cover;
}

h1 {
    font-size: 4em; /*The size of the text*/
}

h2 {
    font-size: 2em; /*The size of the text*/
}

p, a {
    font-size: 1.2em; /*The size of the text*/
}

a {
    color: lightskyblue; /*The colour of the links*/
}

a:hover {
    color: lightblue; /*The colour of the links when hovered over*/
}