body {
    background-color:	#1e2124; /*Changes the colour of the background*/
    margin-top: 3em; /*Adds a margin for the top of the page*/
    font-family: "Fira Code", sans-serif; /*Makes the font look real good*/
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(227, 227, 227);
}

p, h1, h2, h3, .list, li, h4 {
    color: rgb(227, 227, 227);  /*The text colour is toned down slightly from pure white due to medical issues with the eyes*/
}

img {
    object-fit: cover;
    width: 37.5em;
    height: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 30em;  /*A cool empty area for mobile users to be happy*/
    text-align: center;
}

div {
    margin-top: 2em; /*The space between divs relative to other elements*/
}

.avatar {
    width: 6em;
    border-radius: 1em;
    height: 6em;
    object-fit: cover;
    margin-left: 0;
}

.bio {
    border-radius: 1em;

}

.list {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1.5em;
    padding-top: 1.5em;
    padding-left: 4em;
    margin: 3em 0;
    border-radius: 15px;
    background-color: rgb(53, 54, 55);
    box-shadow: 0.5em 0.5em 0.25em #1c1c1c;
}

.contents{
    margin-right: 4em;
}

.Title {
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-bottom-color: rgb(62, 65, 65);
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0.1em;
}

.title {
    font-size: 6em;
    border-top-width: 0.1em;
    border-right-width: 0.1em;
    border-right-color: rgb(62, 65, 65);
    border-left-width: 0.1em;
}

.nathan {
    color: #c797f1;
}

.amitoj {
    color: #4284e0;
}

.alex {
    color: #42e04f;
}

.james {
    color: #e4d936;
}

.team-name{
    font-size: 3em;
    border-top-width: 0.1em;
    border-right-width: 0.1em;
    border-right-color: rgb(62, 65, 65);
    border-left-width: 0.1em;
}

h1 {
    font-size: 8vm; /*The size of the text*/
}

h2 {
    font-size: 2vm; /*The size of the text*/
}

p, a {
    font-size: 1.2vm; /*The size of the text*/
}

a {
    color: lightskyblue; /*The colour of the links*/
}

a:hover {
    color: lightblue; /*The colour of the links when hovered over*/
}

.log {
    margin-top: 2em;
}

.idea {
    width: auto;
    height: 20em;
}
